:root {
  --bg:  #F7F7F7;
  --text:  #1A1A1A;
  --bg-filter: rgba(255,255,255,0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1E1E1E;
    --text: #D4D4D4;
    --friend-card-bg: #252525;
    --category-bg: #0EA5E9;
    --category-text: #FFFFFF;
    --bg-filter: rgba(0,0,0,0.1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  line-break: keep-all;
  background: var(--bg);
  color: var(--text);
}

main {
  padding: 0 5vw;
}

a {
  text-decoration: none;
  color: #4955D6;
}