.toc {
  position: relative;
  display: inline-block;
}

.toc-btn {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.toc-float {
  position: absolute;
  top: 5vh;
  left: 5vw;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  background: var(--bg-filter);
  backdrop-filter: blur(20px);
  width: 80vw;
  padding: 5vw 0;
  border-radius: 20px;
  transition: all .3s ease;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

#toc-toggle:checked ~ .toc-float {
  max-height: 40vh;
  overflow-y: auto;
  opacity: 1;
}

.toc-float ul {
  list-style: none;
  padding-left: 1rem;
  margin: 0.5rem;
}
.toc-float a {
  display: block;
  color: var(--text);
  text-decoration: none;
  margin: 0.5rem;
}
.toc-float a.active {
  color: #007bff;
  font-weight: 600;
}